<!DOCTYPE html>
<html>
	<head>
		<title> 提示信息 </title>
		<meta charset = "utf-8">
		
		<script type = "text/javascript">
		
		</script>
		
		<style type = "text/css">
		
		</style>
	</head>
	
	<body>
		<div>
			<div class = "box">
				<h3> 系统信息 </h3>
				<div align = "center" class = "">
					<div style = "margin:20px auto;">
						<p style = "font-size: 14px; font-weight:bold; color:red;">
							<?php echo $msg; ?>
						</p>
						<div class = "blank">
						</div>
						<p> <a href = "#"> 请处理 </a></p>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>