<!DOCTYPE html >
<html >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title> QA for you </title>
		<meta name="keywords" content="博客系统, 文件系统, 数据库管理, 搜索功能" />
		<meta name="description" content="文件上传、下载， 博客发布， 博客评论" />
		<link rel="stylesheet" type="text/css" href="../static/template/css/css.css">
		
		<style>
			p{
				font-size:16px;
			}
			input{
				height:30px;
			}
		</style>
	</head>

	<body>
		<div id="navMenu" style = "overflow:hidden;">
			<ul>
			<li class="onelink">
				<a href='../index.php' target="_blank"> 
					<img src="../static/template/images/log02.jpg" alt="首页" title="首页" style = "width:80px; height:40px; vertical-align:middle;">
				</a>
			</li>
			<li><a href='#' rel='dropmenu1' target="_blank"> 搜索引擎 </a></li>
			<li><a href='#' rel='dropmenu2' target="_blank"> 休闲资源 </a></li>
			<li><a href='#' rel='dropmenu3' target="_blank"> 学术领域 </a></li>
			<li><a href='../blog.php' rel='dropmenu4' target="_blank"> 博客系统 </a></li>
			<li><a href='../filesys.php' rel='dropmenu5' target="_blank"> 文件系统 </a></li>
			<li><a href='./question.php' rel='dropmenu6' target="_blank"> QA空间 </a></li>
			</ul>
			
			<ul >
			<li style = "width:60px;"> <a href='#'  target="_blank"> &nbsp; </a></li>
			<li > <a href='#'  rel='dropmenu7' target="_blank"> 用户中心 </a></li>
			<li style = "width:120px;">
				<button > 
					<a href='#' target="_blank"> 
						登录/注册 
					</a> 
				</button> 
			</li>
			<li style = "width:120px;">
				<button class = "nav_blog">
					<a href='question_post.php' target="_blank">
						我要提问
					</a>
				</button> 
			</li>
			</ul>
		</div>

		<script type='text/javascript' src='../static/template/js/dropdown.js'></script>
			<ul id="dropmenu1" class="dropMenu">
				<li><a href="http://www.google.com.hk" target="_blank"> Google </a></li>
				<li><a href="http://www.baidu.com" target="_blank"> 百度 </a></li>
				<li><a href="http://www.sou360.com" target="_blank"> 360 </a></li>
				<li><a href="https://www.sogou.com/" target="_blank"> 搜狗 </a></li>
				<li><a href="http://sma.so/" target="_blank"> 神马 </a></li>
			</ul>
			<ul id="dropmenu2" class="dropMenu">
				<li><a href="http://news.baidu.com/" target="_blank"> 百度新闻 </a></li>
				<li><a href="http://news.163.com/" target="_blank"> 网易新闻 </a></li>
				<li><a href="http://news.sina.com.cn/" target="_blank"> 新浪新闻 </a></li>
				<li><a href="http://news.qq.com/" target="_blank"> 腾讯新闻 </a></li>
				<li><a href="http://www.china.org.cn/chinese/" target="_blank"> 中国新闻 </a></li>
				<li><a href="http://music.baidu.com/" target="_blank"> 百度音乐 </a></li>
				<li><a href="http://www.kugou.com/" target="_blank"> 酷狗音乐 </a></li>
				<li><a href="http://y.qq.com/" target="_blank"> QQ音乐 </a></li>
			</ul>
			<ul id="dropmenu3" class="dropMenu">
				<li><a href="http://scholar.glgoo.org/" target="_blank"> Google学 </a></li>
				<li><a href="http://www.nlc.gov.cn/" target="_blank"> 国家图书 </a></li>
				<li><a href="http://www.soci.org/" target="_blank"> SCI </a></li>
				<li><a href="http://www.accm.com/" target="_blank"> ACCM </a></li>
			</ul>
			<ul id="dropmenu4" class="dropMenu">
				<li><a href="" target="_blank"> 精彩博客 </a></li>
				<li><a href="" target="_blank"> 发布博客 </a></li>
				<li><a href="" target="_blank"> 博客搜索 </a></li>
				<li><a href="" target="_blank"> 博客推荐 </a></li>
			</ul>
			<ul id="dropmenu5" class="dropMenu">
				<li><a href="" target="_blank"> 文件列表 </a></li>
				<li><a href="" target="_blank"> 文件搜索 </a></li>
				<li><a href="" target="_blank"> 文件下载 </a></li>
			</ul>
			<ul id="dropmenu6" class="dropMenu">
				<li><a href="#" target="_blank"> 问题分类 </a></li>
				<li><a href="#" target="_blank"> 咨询专家 </a></li>
				<li><a href="#" target="_blank"> 经验分享 </a></li>
			</ul>
			<ul id="dropmenu7" class="dropMenu">
				<li><a href="../photo_album.php" target="_blank"> 个人相册 </a></li>
				<li><a href="" target="_blank"> 个人中心 </a></li>
				<li><a href="" target="_blank"> 用户管理 </a></li>
				<li><a href="" target="_blank"> 账号设置 </a></li>
			</ul>
		<script type="text/javascript">cssdropdown.startchrome("navMenu")</script> 

		<!--//nav-->
		
		<!--body-->
		<div>
			<div style = "position:bottom; height:800px;">
				<div style = "text-align:center; padding:10px;">
					<form method = "post" action = "search.php">
						<input type = "text" name = "keyword" style = "width:400px; height:40px;" /> &nbsp;
						<input type = "submit" value = "搜索答案" style = "width:100px; height:45px;font-size:18px; background-color:#09a800; border:0px;" />
					</form>
				</div>
				<div style = "float: left; width:70%">
					<h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;问题列表 </h1>
					<table width = "80%" style = "border: 1px solid #ddd; margin: 10px auto;">
						<tr>
							<td>
								<?php foreach ($rows as $v)
								{ ?>
								<p style = "font-size:18px;">	
									<a href = "question_page.php?qid=<?php echo $v['qid']; ?>"> <?php echo stripslashes($v['title']); ?> </a>
									&nbsp; <?php echo stripslashes($v['username']); ?>
									&nbsp; <?php echo $v['wealth']; ?>
									&nbsp; <?php echo date('Y-m-d H:i:s', $v['ptime']); ?>
								</p>
								<?php } ?>
							</td>
						</tr>
					</table>
					
				</div>
				
				<div style = "float: left; width:30%">
					<h1> 友情链接 </h1>
					<p> <a href = "http://zhidao.baidu.com/"> 百度知道 </a> </p>
					<p> <a href = "http://www.zhihu.com/"> 知乎 </a> </p>
					<p> <a href = "http://stackoverflow.com/"> Overstackflow </a> </p>
					
				</div>
			</div>
		<!--//body-->
		
			<!--fonter-->
			<div id = "footer">
				<p align = "center">
					<br>
					权力所有 &copy; ywang! 请遵循本网站的《<a href = "">服务条款</a>》
				</p>
			</div>
			<!--//fonter-->
		</div>
	</body>
</html>
