/*
* custom.css

CSS样式里
#infont{}
这个样式是用ID来调用的

.infont{}
这个样式是用CLASS来调用的

*/

a:hover, a:active{
	text_decoration: none;
}

#vm {
	display: none;
}
#loading {
	margin-bottom: 15px;
}
#error {
	display: none;
	margin-bottom: 15px;
}